.goBack {
    font-size: 5px;
    width: 18px;
    height: 25px;
    border-radius: 6px;
    cursor: pointer;
}

.imageSlide {
    height: 350px;
    width: 280px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.profileCSS {
    background-color: white !important;
    color: black !important;
    padding: 1%;
    margin-top: -4px;
    word-break: break-all;
    width: 16.5%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

img {
    height: 330px;
    width: 280px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.nameTitle {
    font-size: large;
    font-size: 20px;
    font-weight: 600;
}

#Info {
    word-break: break-all;
}

@media only screen and (max-width: 600px) {
    .profileCSS {
        background-color: white !important;
        color: black !important;
        padding: 1%;
        margin-top: -1.4%;
        word-break: break-all;
        width: 76.1%;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
        text-align: center;
        margin-left: -0.5%;
      }
}